name: "Test action"

on:
  workflow_dispatch:
    inputs:
      blockchain-network:
        description: 'blockchain-network'
        required: true
        type: choice
        options:
          - a
          - b

jobs:
  test-job-a:
    if: ${{ inputs.blockchain-network == a }}
    runs-on: ubuntu-20.04
    steps:
      - name: hello
        run: echo ${{ inputs.blockchain-network }}

  test-job-b:
    if: ${{ inputs.blockchain-network == b }}
    runs-on: ubuntu-20.04
    steps:
      - name: hello
        run: echo ${{ inputs.blockchain-network }}