name: "run always"

on: push

jobs:
  condition-test-1:
#    if: ${{ 'alexanderrodnin' == 'alexanderrodnin' }}
    runs-on: ${{ 'хуй' == 'alexanderrodnin' && 'ubuntu-22.04' || 'macos-11' }}
    steps:
      - run: echo "$RUNNER_ARCH"
      - run: echo "$RUNNER_OS"