name: "run always"

on: push

  #          echo
  #          alexanderrodnin
  #        $GITHUB_REPOSITORY_OWNER

  #                  SPEC_VERSION=$(sed -nr 's/.*spec_version: ([0-9]+),/\1/p' crates/runtime/src/lib.rs)
  #          docker run --rm -u root ${{ steps.build.outputs.digest }} > runtime-$SPEC_VERSION.compact.compressed.wasm
#          echo "SPEC_VERSION=$SPEC_VERSION" >> $GITHUB_ENV


jobs:
  select-env:
    runs-on: ubuntu-22.04
    steps:
      - run: |
          if [[ "$GITHUB_REPOSITORY_OWNER" == "alexanderrodnin" ]]
          then
            echo "SELECTED_RUNNER=ubuntu-22.04" >> $GITHUB_ENV
          else
            echo "SELECTED_RUNNER=ubuntu-20.04" >> $GITHUB_ENV
          fi;
  say-hi:
    runs-on: ubuntu-22.04
    steps:
      - run: echo "$SELECTED_RUNNER"
      - run: echo "$CI"
      - run: echo "$GITHUB_ACTION"
      - run: echo "$GITHUB_ACTION_PATH"
      - run: echo "$GITHUB_ACTION_REPOSITORY"
      - run: echo "$GITHUB_ACTIONS"
      - run: echo "$GITHUB_ACTOR"
      - run: echo "$GITHUB_API_URL"
      - run: echo "$GITHUB_BASE_REF"
      - run: echo "$GITHUB_ENV"
      - run: echo "$GITHUB_EVENT_NAME"
      - run: echo "$GITHUB_EVENT_PATH"
      - run: echo "$GITHUB_GRAPHQL_URL"
      - run: echo "$GITHUB_HEAD_REF"
      - run: echo "$GITHUB_JOB"
      - run: echo "$GITHUB_PATH"
      - run: echo "$GITHUB_REF"
      - run: echo "$GITHUB_REF_NAME"
      - run: echo "$GITHUB_REF_PROTECTED"
      - run: echo "$GITHUB_REF_TYPE"
      - run: echo "$GITHUB_REPOSITORY"
      - run: echo "$GITHUB_REPOSITORY_OWNER"
      - run: echo "$GITHUB_RETENTION_DAYS"
      - run: echo "$GITHUB_RUN_ATTEMPT"
      - run: echo "$GITHUB_RUN_ID"
      - run: echo "$GITHUB_RUN_NUMBER"
      - run: echo "$GITHUB_SERVER_URL"
      - run: echo "$GITHUB_SHA"
      - run: echo "$GITHUB_STEP_SUMMARY"
      - run: echo "$GITHUB_WORKFLOW"
      - run: echo "$GITHUB_WORKSPACE"
      - run: echo "$RUNNER_ARCH"
      - run: echo "$RUNNER_NAME"
      - run: echo "$RUNNER_OS"
      - run: echo "$RUNNER_TEMP"
      - run: echo "$RUNNER_TOOL_CACHE"


# -------
# 1
#on:
#  push:
#    branches:
#      - master
#
#jobs:
#  say-hi-ubuntu:
#    runs-on: ${{ matrix.os }}
#    strategy:
#      matrix:
#        os: [macos-latest, ubuntu-18.04]
#    steps:
#      - run: echo "Hello from ${{ matrix.os }}"


# 2
#on:
#  workflow_dispatch:
#    inputs:
#      blockchain-network:
#        description: 'blockchain-network'
#        required: true
#        type: choice
#        options:
#          - a
#          - b
#
#jobs:
#  test-job-a:
#    if: ${{ inputs.blockchain-network == 'a' }}
#    runs-on: ubuntu-20.04
#    steps:
#      - name: hello
#        run: echo ${{ inputs.blockchain-network }}
#
#  test-job-b:
#    if: ${{ inputs.blockchain-network == 'b' }}
#    runs-on: ubuntu-20.04
#    steps:
#      - name: hello
#        run: echo ${{ inputs.blockchain-network }}