name: "run always"

on:
  push:
    branches:
      - master

jobs:
  say-hi-mac-m1:
    runs-on:
      - ubuntu-22.04
      - macos-12
    steps:
      - run: echo "Hello from mac m1"

  say-hi-ubuntu:
    runs-on:
      - ubuntu-22.04
      - macos-12
    steps:
      - run: echo "Hello from ubuntu"

#qweqwe
#on:
#  workflow_dispatch:
#    inputs:
#      blockchain-network:
#        description: 'blockchain-network'
#        required: true
#        type: choice
#        options:
#          - a
#          - b
#
#jobs:
#  test-job-a:
#    if: ${{ inputs.blockchain-network == 'a' }}
#    runs-on: ubuntu-20.04
#    steps:
#      - name: hello
#        run: echo ${{ inputs.blockchain-network }}
#
#  test-job-b:
#    if: ${{ inputs.blockchain-network == 'b' }}
#    runs-on: ubuntu-20.04
#    steps:
#      - name: hello
#        run: echo ${{ inputs.blockchain-network }}