name: "run always"

on: push

jobs:
  condition-test-1:
    runs-on: ubuntu-22.04
    steps:
      - run: echo ${{ github.repository_owner }}
      - run: echo ${{ 
                      github.repository_owner == 'alexanderrodnin' 
                        && '1' 
                        || '2' 
                  }}
      - run: echo "end"