name: "run always"

on: push

jobs:
  say-hi:
    runs-on: ubuntu-22.04
    steps:
      - run: echo "Hello from $RUNNER_OS"
      - run: echo "Branch $GITHUB_REF_NAME"



# -------
# 1
#on:
#  push:
#    branches:
#      - master
#
#jobs:
#  say-hi-ubuntu:
#    runs-on: ${{ matrix.os }}
#    strategy:
#      matrix:
#        os: [macos-latest, ubuntu-18.04]
#    steps:
#      - run: echo "Hello from ${{ matrix.os }}"


# 2
#on:
#  workflow_dispatch:
#    inputs:
#      blockchain-network:
#        description: 'blockchain-network'
#        required: true
#        type: choice
#        options:
#          - a
#          - b
#
#jobs:
#  test-job-a:
#    if: ${{ inputs.blockchain-network == 'a' }}
#    runs-on: ubuntu-20.04
#    steps:
#      - name: hello
#        run: echo ${{ inputs.blockchain-network }}
#
#  test-job-b:
#    if: ${{ inputs.blockchain-network == 'b' }}
#    runs-on: ubuntu-20.04
#    steps:
#      - name: hello
#        run: echo ${{ inputs.blockchain-network }}